#main {
    width: 800px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid brown;
}

#version {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 800px;
}